body{
    font-family: sans-serif;
    margin: 0;
}

/*logo principal*/

.primerlogo{
    text-align: center;
    margin-top: -1%;
    margin-bottom: 1%;
    background-color: white;

}

/* Navbar dentro de la lista */
.menu{
    margin-left: 50px;
    margin-right:160px;
    font-size: large;
} 

/* Navbar fuera de la lista */

.menu2{
    margin-right: 50px;
    margin-left: 60px;

}


/*carrusel*/

.carousel-inner img{

    width: 100%;
    height: 100%;

}
   
/* Banner productos mas vendidos*/

.bestsales{

    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #fff;
    background-color: #65b8a6;
    padding: 10px 10px 10px 10px;
}



.detalles{
    display: flex;
    padding: 30px 30px;
    align-items: center;
    justify-content: center;
}

.detalles img{
    margin-left: 5%;
    max-width: 500px;
    max-height: 400px;
}

.descripcion{
    margin-left: 5%;

}

.descripcion p{ 
    margin-right: 5%;
    margin-bottom: 10%;

}

.buy{

    text-align: center;
    text-decoration: none;
    background-color: #65b8a6;
    color: #fff;
    margin-top: 20px;
    padding: 25px 25px;

}

/* indicadores de precio */

.money-widget {
    background-color: #65b8a6;
    border: 2px solid #2d6073;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .money-widget h2 {
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .money-value {
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
  }