<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado Mantencion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
</head>
<body>
<h1>Listado de Mantenciones</h1>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr><th scope="col">id_producto</th><th scope="col">nom_producto</th><th scope="col">precio</th><th scope="col">stock</th><th scope="col">tipo_producto</th>
                </tr>
            </thead>
            <tbody>
                {% for i in Producto %}
                    <tr><td>{{i.id_producto}}</td><td>{{i.nom_producto}}</td><td>{{i.precio}}</td><td>{{i.stock}}</td><td>{{i.tipo_producto}}</td>
                        <td><a href="{% url 'producto_modificar' i.id_producto %}">Modificar</a></td>
                        <td><a href="{% url 'producto_dele' i.id_producto %}">Eliminar</a></td>
                        
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <a href="{% url 'producto_form' %}">Agregar Nuevo Producto</a>
    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>